<html>

<head>
  <meta charset="utf-8">
  <title>Evento</title>
  <link rel="stylesheet" type="text/css" href="./css/diseño.css" />
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>


<header>

  <div class="menu_bar">
    <a href="#" class="boton-menu"><span class="icon-menu"></span>Menu</a>
  </div>

  <nav>
    <ul>
      <li><a href="#registro"><span class="icon-profile"></span>Registrarse</a></li>
      <li><a href="#banner"><span class="icon-home3"></span>Inicio</a></li>
      <li><a href="#fecha"><span class="icon-calendar"></span>Fecha del Evento</a></li>
      <li><a href="#empresas"><span class="icon-user-tie"></span>Colaboradores</a></li>
      <li><a href="#horario"><span class="icon-clock"></span>Horario</a></li>
      <li><a href="#Contacto"><span class="icon-address-book"></span>Contacto</a></li>
    </ul>
  </nav>
</header>

<body>

  <div id="banner">
    <img src="Imagenes//image.jpg" alt="Imagen del evento" class="ImagenEvento">
  </div>
  </header>

  <!--section class="main"-->
    <div id="fecha" class="fecha">
      <h1>Fecha del evento.</h1>
    </div>

    <div class="A" id="empresas">
      <h1>Empresas colaboradoras</h1>

      <div class="caja2">
        <div class="a"><img src="Imagenes//logo1.png" width="250" title="Empresa 1." alt="logotipo">
          <p>Empresa 1</p>
        </div>
        <div class="a"><img src="Imagenes//logo2.png" width="250" title="Empresa 2." alt="logotipo">
          <p>Empresa 2</p>
        </div>
        <div class="a"><img src="Imagenes//logo3.png" width="250" title="Empresa 3." alt="logotipo">
          <p>Empresa 3</p>
        </div>
        <div class="a"><img src="Imagenes//logo1.png" width="250" title="Empresa 4." alt="logotipo">
          <p>Empresa 4</p>
        </div>
        <div class="a"><img src="Imagenes//logo2.png" width="250" title="Empresa 5." alt="logotipo">
          <p>Empresa 5</p>
        </div>
        <div class="a"><img src="Imagenes//logo3.png" width="250" title="Empresa 6." alt="logotipo">
          <p>Empresa 6</p>
        </div>
        <div class="a"><img src="Imagenes//logo1.png" width="250" title="Empresa 7." alt="logotipo">
          <p>Empresa 7</p>
        </div>
        <div class="a"><img src="Imagenes//logo2.png" width="250" title="Empresa 8." alt="logotipo">
          <p>Empresa 8</p>
        </div>
        <div class="a"><img src="Imagenes//logo3.png" width="250" title="Empresa 9." alt="logotipo">
          <p>Empresa 9</p>
        </div>
      </div>
    </div>

    </br>

    <div class="caja3" id="horario">
      <h1>Programa</h1> <br>


      <ul class="dias" role="tablist">

        <li>
          <input type="button" class="dia" value="Lunes" id="1" onclick="mostrarDia(id)">
        </li>

        <li>
          <input type="button" class="dia" value="Martes" id="2" onclick="mostrarDia(id)">
        </li>

        <li>
          <input type="button" class="dia" value="Miércoles" id="3" onclick="mostrarDia(id)">
        </li>

        <li>
          <input type="button" class="dia" value="Jueves" id="4" onclick="mostrarDia(id)">
        </li>

        <li>
          <input type="button" class="dia" value="Viernes" id="5" onclick="mostrarDia(id)">
        </li>

      </ul>

      <br><br><br>

      <div class="cajaD" id="lunes">
        <div class="Ho">Hora.</div>
        <div class="Co">Conferencia.</div>
        <div class="Ta">Talleres.</div>
        <div class="Horario">
          <p>11:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="Horario">
          <p>12:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="Horario">
          <p>13:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="Horario">
          <p>14:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="Horario">
          <p>15:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
      </div>
      <div class="cajaD" id="martes">
        <div class="Ho">Hora.</div>
        <div class="Co">Conferencia.</div>
        <div class="Ta">Talleres.</div>
        <div class="Horario">
          <p>11:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="Horario">
          <p>12:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="Horario">
          <p>13:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="Horario">
          <p>14:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
      </div>
      <div class="cajaD" id="miercoles">
        <div class="Ho">Hora.</div>
        <div class="Co">Conferencia.</div>
        <div class="Ta">Talleres.</div>
        <div class="Horario">
          <p>11:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="Horario">
          <p>12:25</p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
        <div class="d">
          <p>Información.|| Descubre como reaccionaría el Imperio Galáctico ante la destrucción de la Estrella de la
            Muerte que vimos en la Batalla de Yavin en la Star Wars original a manos de Luke Skywalker. Donde el
            Emperador Palpatine en conjunto con Vader y sus oficiales más cercanos crearían toda una </p>
        </div>
      </div>
    </div>

    <br>

    <div class="Exp">
      <div class="TiEx">
        <h1>Expositores</h1>

        <div class="expositores">

          <div class="Expositor">
            <img src="Imagenes//expo1.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo2.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo3.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo4.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo1.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo2.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo3.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo4.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo1.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo2.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo3.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>

          <div class="Expositor">
            <img src="Imagenes//expo4.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: -----</li>
              <li>Expediente: --------</li>
              <li>Temas:
                <ul class="subtemas">
                  <li>---------------</li>
                  <li>---------------</li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="Mapa"></div>

    <form id="registro" action="/nuevoRegistro" method="POST" onsubmit="return validation()">
      <div>
        <h2>Registrate.</h2>
      </div>

      <div>
        <label for="alumno">¿Eres alumno de la Unison?(marcar solo en caso de que si)
          <input type="checkbox" id="chkAlumnoNoAlumno" onclick="mostrarPreguntas(checked)">Si.
      </div>
      <div id="unisonForm" style="height: 40px">
        <label for="Expediente">¿Cuál es tu expediente?</label>
        <input type="text" id="inpExpediente" name="Expediente" placeholder="a111111111" maxlength="10">
        <label id="ExpedienteErr" style="color:red;display: none;">El expediente solo deben ser números</label>
        <label id="ExpedienteFaltaErr" style="color:red;display: none;">El Expediente es necesario</label>
      </div>
      <div id="noUnisonForm" style="height: 40px">
        <label for="Dependencia">¿De que dependencia/escuela/instituto eres?</label>
        <input type="text" id="inpDependencia" name="Dependencia" placeholder="---">
        <label id="DependenciaErr" style="color:red;display: none;">El nombre de dependecia solo pueden ser letras y números</label>
        <label id="DependenciaFaltaErr" style="color:red;display: none;">El nombre del Instituto</label>
      </div>

      <div><label for="Nombre">Escribe tú nombre.</label>
        <input type="text" id="impNombre" name="Nombre" placeholder="Nombre completo.">
        <label id="NombreErr" style="color:red;display: none;">El nombre solo puede llevar letras</label>
        <label id="NombreFaltaErr" style="color:red;display: none;">El Nombre es necesario</label>
      </div>

      <div><label for="Correo">¿Cuál es tu correo electrónico?</label>
        <input type="text" id="inpCorreo" name="Correo" placeholder="aaaa@email.com">
        <label id="CorreoErr" style="color:red;display: none;">Ejemplo de un correo válido: "nombre@dominio.com"</label>
        <label id="CorreoFaltaErr" style="color:red;display: none;">El Correo es necesario</label>
      </div>

      <div></div>

      <div><label for="sexo">Sexo:</label>
        <input type="radio" id="rdManGender" name="genero" value="Hombre">Hombre.
        <input type="radio" id="rdWomGender" name="genero" value="Mujer">Mujer.</div>

      <div><label for="Edad">Edad:</label>
        <input type="text" id="inpEdad" name="Edad" placeholder="---" maxlength="3">
        <label id="EdadErr" style="color:red;display: none;">La edad solo deben ser números</label>
        <label id="EdadFaltaErr" style="color:red;display: none;">La edad es necesaria</label>
      </div>

      <div><label for="Comentario">¿Cómo te enteraste del evento?</label><br>
        <textarea id="txaComentario" name="Comentario" placeholder="---"></textarea>
        <label id="ComentarioErr" style="color:red;display: none">El comentario solo puede llevar letras y números</label>
      </div>

      <input type="submit" value="Enviar">

    </form>
    </div>
    <br><br>


    <div class="Contacto" id="Contacto">
      <h3>¿Tienes dudas?, ¡contáctanos!.</h3>
      <br>

      <img src="Imagenes//Contacto.jpg" alt="Contacto">
      <ul>
        <li>Nombre: --------</li>
        <li>Correo: --------</li>
        <li>Información:
          <ul>
            <li>--------------------------------------</li>
            <li>--------------------------------------</li>
            <li>--------------------------------------</li>
            <li>--------------------------------------</li>
          </ul>
        </li>
      </ul>
    </div>

    <br><br>

    <footer>
      <div class="footer">
        <p>Unison 2019</p>
      </div>
    </footer>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="barra de navegacion.js"></script>
    <script src="./scripts/scripts.js"></script>
</body>

</html>