<html>

<head>
  <meta charset="utf-8">
  <title>Evento</title>
  <link rel="stylesheet" type="text/css" href="./css/diseño.css" />
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>

<header>

  <div class="menu_bar">
    <a href="#" class="boton-menu"><span class="icon-menu"></span>Menu</a>
  </div>

  <nav>
    <ul>
      <li style="background-color: #23BB04"><a href="#RegistrarAsistencia"><span class="icon-profile"></span>Registrarse</a></li>
      <li><a href="#banner"><span class="icon-home3"></span>Inicio</a></li>
      <li><a href="#Talleres"><span class="icon-calendar"></span>Talleres</a></li>
      <li><a href="#empresas"><span class="icon-user-tie"></span>Empresas Participantes</a></li>
      <li><a href="#horario"><span class="icon-clock"></span>Horario</a></li>
      <li><a href="#Contacto"><span class="icon-address-book"></span>Contacto</a></li>
    </ul>
  </nav>
</header>

<body>

  <div id="banner" style="text-align: center">
    <img src="Imagenes//banner.jpg" alt="Imagen del evento" class="ImagenEvento"
      style="margin-top: 50px">
  </div>
  </header>

  <!--section class="main"-->
  <!-- <div id="fecha" class="fecha">
      <h1>FECHA DEL EVENTO.</h1>
      <br>
      <h2>DEL 09 DE AGOSTO AL 11 DE AGOSTO DEL 2019 SIN COSTO</h2>
    </div> -->

  <div class="A" id="empresas">
    <!-- <h1>Empresas</h1> -->
    <div class="HoraTaller">
      <p>Empresas e instituciones que nos acompañan</p>
    </div>

    <div class="caja2">
      <div class="a"><img src="Imagenes//BeepQuest.png" width="250" title="BeepQuest." alt="logotipo">
        <p>BeepQuest</p>
      </div>
      <div class="a"><img src="Imagenes//Waze.jpg" width="250" title="Waze." alt="logotipo">
        <p>Waze</p>
      </div>
      <div class="a"><img src="Imagenes//Unison.png" width="250" title="Unison." alt="logotipo">
        <p>Unison</p>
      </div>
      <div class="a"><img src="Imagenes//FarmEase.png" width="250" title="FarmEase." alt="logotipo">
        <p>FARMEASE</p>
      </div>
      <div class="a"><img src="Imagenes//Informatica.png" width="250" title="Informatica." alt="logotipo">
        <p>Direccion de Informatica</p>
      </div>
      <div class="a"><img src="Imagenes//Qualisys.png" width="250" title="Qualisys." alt="logotipo">
        <p>Qualisys</p>
      </div>
      <div class="a"><img src="Imagenes//SpreadSocial.png" width="250" title="SpreadSocial." alt="logotipo">
        <p>Spreadsocial</p>
      </div>
      <div class="a"><img src="Imagenes//SSISchafer.jpg" width="250" title="SSISchafer." alt="logotipo">
        <p>SSISchafer</p>
      </div>
      <div class="a"><img src="Imagenes//Centro de control.jpg" width="250" title="SSISchafer." alt="logotipo">
        <p>Centro de control</p>
      </div>
      <div class="a"><img src="Imagenes//TCA.png" width="250" title="SSISchafer." alt="logotipo">
        <p>TCA</p>
      </div>
      <div class="a"><img src="Imagenes//CORREO.png" width="250" title="SSISchafer." alt="logotipo">
        <p>CORREO</p>
      </div>
      <div class="a"><img src="Imagenes//CISCO.png" width="250" title="SSISchafer." alt="logotipo">
        <p>CISCO</p>
      </div>
      <div class="a"><img src="Imagenes//CAFFENIO.jpg" width="250" title="SSISchafer." alt="logotipo">
        <p>CAFFENIO</p>
      </div>
    </div>
  </div>

  <br>

  <div class="B" id="Talleres">
    <!-- <h1>Talleres</h1> -->
    <div class="HoraTaller">
      <p>Talleres del 7 al 11 de agosto a las 17:00-18:00 horas en el aula 5G-205</p>
    </div>
    <div class="caja2">
      <div class="a"><img src="Imagenes//GraphQL.png" width="250" title="GraphQL." alt="logotipo">
        <p>GraphQL</p>
      </div>
      <div class="a"><img src="Imagenes//MongoDB.png" width="250" title="MongoDB." alt="logotipo">
        <p>mongoDb</p>
      </div>
    </div>
    <!-- <div class="HoraTaller">
        <p>Talleres del 7 al 11 de agosto a las 17:00-18:00 horas en el aula 5G-205</p>
      </div> -->
  </div>

  <br>

  <div class="C" id="culturales">
    <!-- <h1>Culturales</h1> -->
    <div class="HoraTaller">
      <p>Culturales</p>
    </div>
    <div class="caja2">
      <div class="a">
        <a href="https://www.youtube.com/watch?v=dluqIgGFGb4&feature=youtu.be&fbclid=IwAR3nbYlmQmQ1PjG4zGOg1fcl2O279A6-NU0Y4vVg-wL5y7nG0cMoUmco2_E" target="_blank">
          <img src="Imagenes//ArmaBlanca.jpg" width="250" title="ArmaBlanca." alt="logotipo">
        </a> 
        <p>ArmaBlanca</p>
      </div>
      <div class="a">
        <a href="https://soundcloud.com/jorgesotodj/01-house-mix-chapter-ii?fbclid=IwAR2VQFBPWWzrC8YCU6LrRJbbJzt1r-qmuSVz28k67au43pcesLkIW7edDLM" target="_blank">
          <img src="Imagenes//JorgeSoto.jpg" width="250" title="JorgeSoto." alt="logotipo">
        </a>
        <p>Jorge Soto</p>
      </div>
    </div>
  </div>

  </br>

  <div class="caja3" id="horario">

    <div class="programa">
      <h1>Programa</h1>
    </div>

    <div class="diascentrar">
      <ul class="dias" role="tablist">

        <li style="background-color: none;">
          <img src="Imagenes//miercoles.png" style = "width:50%;height: 75px;border-radius: 60px;cursor: pointer;" alt="" id="1" onclick="mostrarDia(id)">
          <!-- <input type="button" style="background:url('Imagenes//miercoles.png')no-repeat" value="Miércoles" id="1" onclick="mostrarDia(id)"> -->
          <!-- <input type="button" class="dia" value="Miércoles" id="1" onclick="mostrarDia(id)"> -->
        </li>

        <li>
          <img src="Imagenes//jueves.png" style = "width:50%;height: 75px;border-radius: 60px;cursor: pointer;" alt="" id="2" onclick="mostrarDia(id)">
          <!-- <input type="button" class="dia" value="Jueves" id="2" onclick="mostrarDia(id)"> -->
        </li>

        <li>
          <img src="Imagenes//viernes.png" style = "width:50%;height: 75px;border-radius: 60px;cursor: pointer;" alt="" id="3" onclick="mostrarDia(id)">
          <!-- <input type="button" class="dia" value="Viernes" id="3" onclick="mostrarDia(id)"> -->
        </li>

      </ul>
    </div>


    <br><br></br></br>

    <div class="cajaD" id="miercoles">
      <div class="Ho">Hora.</div>
      <div class="Co">Conferencia.</div>
      <div class="Ta">Talleres.</div>
      <div class="Horario">
        <p>9:30-10:00</p>
      </div>
      <div class="d">
        <p>Inauguracion</p>
        <br>
        <p>ponente:</p>
        <p>Dr. Martín Antonio Encinas Romero</p>
        <p>M.C. Guillermo Cuamea Cruz</p>
        <p>Dr. José Luis Ochoa Hernández</p>

      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>10:00-11:00</p>
      </div>
      <div class="d">
        <p>Waze - XXX</p>
        <br>
        <p>ponente:</p>
        <p>Dr. Alonso Pérez Soltero y Carlos Laso</p>

      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>11:00-12:00</p>
      </div>
      <div class="d">
        <p>“Trabajar en pijamas” - Spread Social Media SA de CV</p>
        <br>
        <p>ponente:</p>
        <p>Renée Angélica García López</p>

      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>12:00-13:00</p>
      </div>
      <div class="d">
        <p>XXX - Automatizacion en los procesos agricolas / FarmaEase</p>
        <br>
        <p>ponente:</p>
        <p>Ing. Rolando Valenzuela?</p>

      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>16:00-17:00</p>
      </div>
      <div class="d">
        <p>"In Blockchain We Trust" - Unison</p>
        <br>
        <p>ponente:</p>
        <p>MIST. Miguel Enrique López Muñoz</p>
      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>17:00-18:00</p>
      </div>
      <div class="d">
        <p>TCA software solutions - "Leadership in Software Engineering"</p>
        <br>
        <p>ponente:</p>
        <p>Ing. Carlos Ulises Chávez Mercado</p>
      </div>
      <div class="d">
        <p></p>
      </div>
    </div>

    <div class="cajaD" id="jueves">
      <div class="Ho">Hora.</div>
      <div class="Co">Conferencia.</div>
      <div class="Ta">Talleres.</div>
      <div class="Horario">
        <p>9:00-10:00</p>
      </div>
      <div class="d">
        <p>Revista Correo - "La industria del Software en Sonora"</p>
        <br>
        <p>ponente:</p>
        <p>Lic. Javier Villegas Orpinela</p>
      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>10:00-11:00</p>
      </div>
      <div class="d">
        <p>"Ciberseguridad en Sonora, en México y en el Mundo" - Qualisys</p>
        <br>
        <p>ponente:</p>
        <p>Ing. Paulo Zayas</p>
      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>11:00-12:00</p>
      </div>
      <div class="d">
        <p>"relax… if you know English and program, You're ready…" - Unison</p>
        <br>
        <p>ponente:</p>
        <p>Dr. José Luis Ochoa Hernández</p>
      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>12:00-13:00</p>
      </div>
      <div class="d">
        <p>SSI Schaefer: “El impacto del e-commerce en las estrategias de desarrollo de software en la industria
          logística”</p>
        <br>
        <p>ponente:</p>
        <p>Ing. Francisco Enrique Yescas Cruz</p>
      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>13:00-14:00</p>
      </div>
      <div class="d">
        <p>Caffenio - "Innovación Caffenio"</p>
        <br>
        <p>ponente:</p>
        <p>Adolfo Alduenda</p>
      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>16:00-17:00</p>
      </div>
      <div class="d">
        <p>C5 - Secretaría de Seguridad Publica de Sonora - "Aplicación tecnológica: Mujeres Seguras"</p>
        <br>
        <p>ponente:</p>
        <p>Cassandra López Manzano</p>
        <p>Ing. Ricardo Soto Valdéz</p>
      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>17:00-18:00</p>
      </div>
      <div class="d">
        <p>CISCO - "Cisco: más allá de redes"</p>
        <br>
        <p>ponente:</p>
        <p>Ing. Brianda Jeanneth Armenta Navarrete (Online)</p>
      </div>
      <div class="d">
        <p></p>
      </div>

    </div>

    <div class="cajaD" id="viernes">
      <div class="Ho">Hora.</div>
      <div class="Co">Evento.</div>
      <div class="Ta">Talleres.</div>
      <div class="Horario">
        <p>9:00-12:00</p>
      </div>
      <div class="d">
        <p></p>
      </div>
      <div class="d">
        <p>Taller de Mongo db y graphql"</p>
        <br>
        <p>ponente:</p>
        <p>Ing. Ramón Ramírez Preciado</p>
      </div>

      <div class="Horario">
        <p>9:00-12:00</p>
      </div>
      <div class="d">
        <p>Musica en vivo</p>
        <br>
        <p>Dj:</p>
        <p>DJ - Jorge Soto, ArmaBlanca</p>
      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>10:00-11:00</p>
      </div>
      <div class="d">
        <p>Concurso de comer Sandwiches de mermelada, nutella, crema cacahuate</p>
      </div>
      <div class="d">
        <p></p>
      </div>

      <div class="Horario">
        <p>13:00-13:05</p>
      </div>
      <div class="d">
        <p>Clausura</p>
      </div>
      <div class="d">
        <p></p>
      </div>

    </div>
  </div>

  <br>

  <div class="Exp">
    <div class="TiEx">
      <h1>Participantes</h1>

      <div class="expositores">

        <div class="Expositor">
          <img src="Imagenes//Orpinela.jpg" alt="Expositor" class="expo">
          <ul>
            <li>Nombre: Lic. Javier Villegas Orpinela</li>
            <li>Temas: "La industria del Software en Sonora"</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//Alonso2.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: Dr. Alonso Pérez Soltero</li>
            <li>Temas: Waze - XXX</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//Reene.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: Renée Angélica García López</li>
            <li>Temas: “Trabajar en pijamas”</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//Miguel Lopez.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: MIST. Miguel Enrique López Muñoz</li>
            <li>Temas:"In Blockchain We Trust"</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//Paulo Zayas.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: Ing. Paulo Zayas</li>
            <li>Temas:"Ciberseguridad en Sonora,</li>
            <li>en México y en el Mundo"</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//J.L. Ochoa.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: Dr. José Luis Ochoa Hernández</li>
            <li>Temas: "relax… if you know English and program, You're ready…"</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//Enrique YescasC.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: Ing. Francisco Enrique Yescas Cruz</li>
            <li>Temas: “El impacto del e-commerce en las estrategias de desarrollo de software en la industria
              logística”</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//Brianda Armenta.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: Ing. Brianda Jeanneth Armenta Navarrete</li>
            <li>Temas: "Cisco: más allá de redes"</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//cassandra Lopez.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: Cassandra López Manzano</li>
            <li>Temas: "Aplicación tecnológica: Mujeres Seguras"</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//Carlos Chavez.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: Ing. Carlos Ulises Chávez Mercado</li>
            <li>Temas: "Leadership in Software Engineering"</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//Adolfo Alduendo.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: Adolfo Alduendo</li>
            <li>Temas: "Innovación Caffenio"</li>
          </ul>
        </div>

        <div class="Expositor">
          <img src="Imagenes//Ricardo Soto.jpg" alt="Expositor" class="expo">
          <ul class="datos">
            <li>Nombre: Ing. Ricardo Soto Valdéz</li>
            <li>Temas: "Aplicación tecnológica: Mujeres Seguras"</li>
          </ul>
        </div>
        <div class="Expositor">
            <img src="Imagenes//Ricardo alonso.jpg" alt="Expositor" class="expo">
            <ul class="datos">
              <li>Nombre: Ing. Ricardo Alonso Rodríguez Galindo</li>
              <li>Temas: "Adaptarte o..." Desde la idea hasta la venta</li>
            </ul>
          </div>

      </div>
    </div>
  <div id="RegistrarAsistencia"></div>
  </div>

  <br></br>
  <div class="txtregistro" >

    <form id="registro" action="/nuevoRegistro" method="POST" onsubmit="return validation()">
      <div>
        <h2>Registrate.</h2>
        <br/>
        <p style="font-weight: lighter;width:100%;font-size:1.8em">se enviará un correo con un código QR , el cual deberás presentar antes de cada conferencia, curso  o evento.</p>
        <br/>
      </div>
      <div><label for="nombre">Escribe tú nombre.</label>
        <input type="text" id="impNombre" name="Nombre" placeholder="Nombre completo.">
        <label id="NombreErr" style="color:red;display: none;">El nombre solo puede llevar letras</label>
        <label id="NombreFaltaErr" style="color:red;display: none;">El Nombre es necesario</label>
      </div>

      <div><label for="email">¿Cuál es tu correo electrónico?</label>
        <input type="text" id="inpCorreo" name="Correo" placeholder="aaaa@email.com">
        <label id="CorreoErr" style="color:red;display: none;">Ejemplo de un correo válido: "nombre@dominio.com"</label>
        <label id="CorreoFaltaErr" style="color:red;display: none;">El Correo es necesario</label>
      </div>

      <div></div>

      <div>
        <label for="alumno">¿Eres alumno de la Unison?(marcar solo en caso de que si)</label>
        <input type="checkbox" id="chkAlumnoNoAlumno" onclick="mostrarPreguntas(checked)">
      </div>
      <div id="unisonForm" style="height: 40px">
        <label for="expediente">¿Cuál es tu expediente?</label>
        <input type="text" id="inpExpediente" name="Expediente" placeholder="111111111" maxlength="9">
        <label id="ExpedienteErr" style="color:red;display: none;">El expediente solo deben ser números</label>
        <label id="ExpedienteFaltaErr" style="color:red;display: none;">El Expediente es necesario</label>
      </div>
      <div id="noUnisonForm" style="height: 40px">
        <label for="dependencia">¿De que dependencia/escuela/instituto eres?</label>
        <input type="text" id="inpDependencia" name="Dependencia" placeholder="---">
        <label id="DependenciaErr" style="color:red;display: none;">El nombre de dependecia solo pueden ser letras y
          números</label>
        <label id="DependenciaFaltaErr" style="color:red;display: none;">El nombre del Instituto es necesario</label>
      </div>

      <div><label for="sexo">Sexo:</label>
        <input type="radio" id="rdManGender" name="gender" value="Hombre">Hombre.
        <input type="radio" id="rdWomGender" name="gender" value="Mujer">Mujer.
      </div>

      <div><label for="edad">Edad:</label>
        <input type="text" id="inpEdad" name="Edad" placeholder="---" maxlength="3">
        <label id="EdadErr" style="color:red;display: none;">La edad solo deben ser números</label>
        <label id="EdadFaltaErr" style="color:red;display: none;">La edad es necesaria</label>
      </div>

      <div><label for="mensaje">¿Cómo te enteraste del evento?</label><br>
        <textarea id="txaComentario" name="Comentario" placeholder="Opcional"></textarea>
      </div>

      <input type="submit" value="Enviar">

    </form>
  </div>
  <br><br>


  <div class="Contacto" id="Contacto">
    <h3>¿Tienes dudas?, ¡contáctanos!.</h3>
    <br>

    <img src="Imagenes//Contacto.jpg" alt="Contacto">
    <ul>
      <li>Nombre: José Luis Ochoa Hernández</li>
      <li>Correo: joseluis.ochoa@industrial.uson.mx</li>
    </ul>
  </div>

  <!-- <br></br> -->

  <footer>
    <div class="footer">
      <p>Unison 2019</p>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="barra de navegacion.js"></script>
  <script src="./scripts/scripts.js"></script>
</body>

</html>