<html>
    <form id="Registro" action="/registrarConExpediente" method="POST" onsubmit="return hora()">
        <label for="Platica" style="font-size:50px">Platica:</label>
        <select name="Platica" id="Platica" style="height: 30px;">
                <option value="Waze">Waze</option>
                <option value="Trabajar_En_Pijamas">Trabajar_En_Pijamas</option>
                <option value="FarmEase">FarmEase</option>
                <option value="In_Blockchain_We_Trust">In_Blockchain_We_Trust</option>
                <option value="TCA">TCA</option>
        </select><br/><br/>
        <input type="tel" id="Expediente" name="Expediente" placeholder="aquí el expediente"/><br/><br/>
        <input type="text" id="Hora" name="Hora" placeholder="no tocar"/><br/><br/>
        <input type="submit" />
    </form>
    <script>
        function hora(){
            let d = new Date();
            document.getElementById("Hora").value= d.getHours() +":"+ d.getMinutes();
            return true;
        }
    </script>
</html>