@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {margin:0; padding:0; font-family:'Montserrat';}

body {background:#535353;}

.menu_bar{display: none;}

header nav {width: 100%; background:#78B483;  position:fixed; opacity: 0.9;}
header nav ul li span {margin-right: 5px}
header nav ul li a:hover {background:#23BB04;}
nav ul {list-style:none; margin:0;}
nav ul li {float:left; width: 16.6666666666%;}
nav ul li a {padding:20px 20px; display:block; text-decoration: none; color:#fff; min-width:10%; font-family: 'Montserrat', sans-serif;}
@media screen and (max-width:900px) {
  header nav {width: 70%; height: 100%; left: -100%; margin: 90px 0px; position:fixed;}

  header nav ul li{display: block; float: none; border-bottom:1px solid rgba(255,255,255, .3); width: 100%;}

  .menu_bar{display: block; width: 100%; background:#7ebd89; opacity: .95; position: fixed;}

  .menu_bar .boton-menu{display: block; margin: 0px; padding: 20px; color:#fff;text-decoration: none;font-size: 25px; font-family: 'Montserrat'}

  .menu_bar span {float: right; font-size: 40px;}
}

.dias li {color:#fff; 
  /* background:#072EBF; */
  float:left; width: 32%;
  text-align: center; 
  list-style-type: none;
  /* border:2px solid #fff; */
}
.dias li {overflow:hidden; margin: 0% 0.15%; max-width: 32%}
.dia {color:#fff; background: #072EBF; padding: 10px 10px; width: 100%; text-align: center; font-family: 'Montserrat', sans-serif; display: inline-block;}
.dia:active {background:#2852F0;}

.ImagenEvento {width: 100%; height: auto;}
.fecha {background:#7ebd89; color:#fff; margin:5% 0px; border:2px solid #fff; padding:5% 10%; text-align:center; font-family:'Montserrat';}
.A {background:#7ebd89; font-family: 'Montserrat'; color:#fff; border:2px solid #fff;}
.B {background:#7ebd89; font-family: 'Montserrat'; color:#fff; border:2px solid #fff;}
.C {background:#7ebd89; font-family: 'Montserrat'; color:#fff; border:2px solid #fff;}

.caja2 {display: grid; grid-template-columns:auto auto auto; justify-content:space-evenly;}
.caja2 img {border:2px solid grey; width:80%; box-shadow:0px 0px 10px black; margin-left:10%; margin-right:10%;}
.caja2 .a {align-self: center; border:0px}
.caja2 p {text-align:center; align-self: end;}
.HoraTaller{text-align: center;background: #436449; font-size: 175%}

.caja3 {background:#897ebd; color:#fff; border:2px solid #fff;}
.caja3 h1 {text-align:center; border:2px solid #fff;}
.caja3 table div {color:#fff; border:2px solid #fff; padding:20px 80px;}
.programa h1 {background: #6C6494;}
input[ type="button"] {background: #6C6494;}

.cajaD {display:grid; grid-template-columns: 90px auto auto;}
.cajaD div {border:2px solid #fff;}
.cajaD .Ho, .Co, .Ta {background: #6C6494; text-align:center; font-family: 'Montserrat';}
.cajaD .d {font-family: 'Montserrat';background: #6C6494; text-align: left;}
.cajaD .horario {font-family: 'Montserrat'; background: #6C6494;}
.cajaD p {margin: 0% 0%}

.Exp {background: #7ebd89; border: 2px solid #D2CBCB;}
.expositores {
  background: #6C6494; 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
}
.Expositor{display: block;text-align: center}
.Expositor img {width: 200px; height: 200px;}

.expo{overflow:hidden; max-width: 100%;border-radius: 50%;}
div img {border: 2px solid #DBDBDD; background: white;}
div .TiEx {color: #fff;}

label {}
input[ type="submit"] {margin: 10px ;width: 30%; background: #6C6494; position: relative; border: 2px solid #5E5780; color: #fff;}
input[ type= checkbox] {width: 17px; height: 17px}
.txtregistro {background:#897ebd; color: #fff; width: 55%; border: 2px solid #897ebd;margin-left: 20px;}


.Contacto {background: #7ebd89; border: 2px solid #7ebd89; overflow:hidden; color: #fff; border:2px solid #fff;}
.Contacto img {float: left; width: 15%}
.Contacto ul li {overflow:hidden; max-width: 100%; font-size: 115%}


h1 {text-align:center;}

div, h1 {padding:10px 10px;}

.footer {background: black; color: #fff;}

p {margin:10px 10px;}
